.App {
  text-align: center;
}

.todo-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 60%;
  min-height: 600px;
  background: white;
  text-align: center;
  margin: 100px auto;
  border-radius: 10px;
  padding-bottom: 20px;
}

h1 {
  margin: 32px 0;
  font-size: 33px;
}

body {
  background: linear-gradient(yellow, red);
}

.button-getComplete{
  padding-bottom: 10px;
}

.form-title{
  padding-bottom: 10px;
}